<div class="panel panel-default">
  <div class="panel-heading"><h1>New Pin</h1></div>
  <div class="panel-body">
    <%= render 'form', pin: @pin %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Back', pins_path %>
  </div>
</div>
